{% extends 'base.html' %}
{% block content %}

<h1>Workout List</h1>

{% for workout in workouts %}
  <a href="{% url 'workout_detail' workout.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ workout.name }}</span>
        <p>Type: {{ workout.type.as_display }}</p>
        <p>Description: {{ workout.description|linebreaks }}</p>
        <p>Difficulty rating: {{ workout.difficulty_rating }}</p>

      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}