{% extends 'base.html' %}
{% block content %}

<h1>Exercise Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ exercise.name }}</span>
    <p>Breed: {{ exercise.type }}</p>
    <p>Description: {{ exercise.description|linebreaks }}</p>
    
      <p>Age: {{ exercise.difficultyRating }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'exercise_update' exercise.id %}">Edit</a>
    <a href="{% url 'exercise_delete' exercise.id %}">Delete</a>
  </div>
</div>

{% endblock %}
